@model List<StellerAcunMedyaAkademiPortfolio.Models.TblProject>
<section id="portfolio" class="section">
    <div class="container text-center">
        <h6 class="subtitle">Projects</h6>
        <h6 class="section-title mb-4">Check My Works</h6>
        <p class="mb-5 pb-4">Below, you can see images from my projects and bootcamps where i developed projects, along with the GitHub Links.</p>

        <div class="row">

            @foreach(var item in Model)
            {


            <div class="col-sm-4">
                <div class="img-wrapper">
                    <img src="@item.ImageUrl" alt="">
                    <div class="overlay">
                        <div class="overlay-infos">
                            <h5>@item.Title</h5>
                            <p>@item.Description</p>
                            <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                            <a href="@item.GitHubUrl" target="_blank"><i class="ti-link"></i></a>
                        </div>
                    </div>
                </div>

                @*<div class="img-wrapper">
                    <img src="assets/imgs/folio-2.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-infos">
                            <h5>Project Title</h5>
                            <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                            <a href="javascript:void(0)"><i class="ti-link"></i></a>
                        </div>
                    </div>
                </div>*@
            </div>
            }
            @*<div class="col-sm-4">
                <div class="img-wrapper">
                    <img src="assets/imgs/folio-3.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-infos">
                            <h5>Project Title</h5>
                            <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                            <a href="javascript:void(0)"><i class="ti-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="img-wrapper">
                    <img src="assets/imgs/folio-4.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-infos">
                            <h5>Project Title</h5>
                            <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                            <a href="javascript:void(0)"><i class="ti-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="img-wrapper">
                    <img src="assets/imgs/folio-5.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-infos">
                            <h5>Project Title</h5>
                            <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                            <a href="javascript:void(0)"><i class="ti-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="img-wrapper">
                    <img src="assets/imgs/folio-6.jpg" alt="">
                    <div class="overlay">
                        <div class="overlay-infos">
                            <h5>Project Title</h5>
                            <a href="javascript:void(0)"><i class="ti-zoom-in"></i></a>
                            <a href="javascript:void(0)"><i class="ti-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>

    </div>
</section>
