@model StellerAcunMedyaAkademiPortfolio.Models.TblMessage
@{
    ViewBag.Title = "MessageDetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Message Detail</h2>

<table class="table table-striped">
    <tr>
        <th>Sender Name Surname:</th>
        <td>@Model.NameSurname</td>
    </tr>

    <tr>
        <th>Sender Email:</th>
        <td>@Model.Email</td>
    </tr>

    <tr>
        <th>Message Content:</th>
        <td>@Model.MessageContent</td>
    </tr>
</table>

