@model List<StellerAcunMedyaAkademiPortfolio.Models.TblMessage>
@{
    ViewBag.Title = "ReadMessages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h3>Read Messages</h3>


<a class="btn btn-outline-dark" href="/Message/Index">Unread Messages</a>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Sender Name Surname</th>
        <th>Sender Email </th>
        <th>Delete</th>
        @*<th>Update</th>*@
        <th>See the Message</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.NameSurname</td>
            <td>@item.Email</td>
            <td><a href="/Message/DeleteMessage/@item.MessageId" class="btn btn-outline-danger">Delete</a></td>
            @*<td><a href="/Message/UpdateMessage/@item.MessageId" class="btn btn-outline-danger">Update</a></td>*@
            <td><a href="/Message/MessageDetail/@item.MessageId" class="btn btn-outline-primary">See the Message</a></td>
        </tr>
    }
</table>

