@model StellerAcunMedyaAkademiPortfolio.Models.TblTestimonial
@{
    ViewBag.Title = "AddTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Add Testimonial Page</h3>

<form method="post">
    <label>Image Url</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <label>Name Surname</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>Title</label>
    @Html.TextAreaFor(x => x.Title, 5, 1, new { @class = "form-control" })
    <br />
    <label>Description</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />

    <button class="btn btn-outline-primary">Save</button>

</form>

