@model StellerAcunMedyaAkademiPortfolio.Models.TblContact
@{
    ViewBag.Title = "AddContact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Contact Page</h2>


<form method="post">
    <label>Phone</label>
    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
    <br />
    <label>Email</label>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    <br />
    <label>Address</label>
    @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
    <br />
    <label>Map Url</label>
    @Html.TextBoxFor(x => x.MapUrl, new { @class = "form-control" })
    <br />

    <button class="btn btn-outline-primary">Save</button>

</form>