
@{
    ViewBag.Title = "AddAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Add New About Information Page</h3>

<br />

<form method="post">
    <label>Image Url</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    <label>Name Surname</label>
    <input type="text" name="NameSurname" class="form-control" />
    <br />
    <label>Title</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Description</label>
    <input type="text" name="Description" class="form-control" />
    <br />

    <button class="btn btn-outline-primary">Save</button>
</form>


